.DetailsContainer{
    background-color:#1e2332 ;
    margin: 15px 0;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    color:aliceblue;
    border-radius: 5px;
}

.DetailsContainer h2{
    margin-bottom: 5px;
    color: rgb(255, 0, 64);;
}

.bottonBack{
width: 30%;    
margin-top: 10px;
}